@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Adicionando um estilo básico para a barra inferior */
.content {
  text-align: center;
  font-size: 18px;
}

.bg-cyan-600 {
  background-color: #06b6d4;
}

.bg-gray-800 {
  background-color: #2d3748;
}

